doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Dancing+Script', rel='stylesheet', type='text/css')
 
  body
    #menu
      #menunav.center Jillian Thibault
        a#contactb(href='default')
          img(src='/images/button_light.png')

    block content