extends layout

block content
  #page.center
    h1 Jillian Thibault
    p.contact
      | 2002 W La Osa Dr Tucson, AZ 85741<br />
      | T: 520 488 0408 	jillian.stock@asu.edu
      h2 Resume Profile
      p
        | Java Developer. Self motivated fast learner. Versatile skill set with experience developing from requirements to release. Object Or iented Programming and Design Patterns a way of life. Enthusiasm for programming.
      h2 Technical Summary
      p
        | LANGUAGES: Java, PHP, HTML, CSS, JavaScript, Python, R, C++, XML
        | FRAMEWORKS: Android, JQuery
        | DEVELOPER TOOLS: git, Eclipse, Notepad++, NetBeans
        | DATABASE: MySQL (phpMyAdmin), SQLite
        | CMS: Wordpress, Joomla
        | SERVER: XAMPP (Apache, MySQL, FileZilla)
      h2 Expertise Summary
      ul
        li Developed and released Android App, exceeds original goals.
        li
        | 36 credits of core Computer Science course work from an accredited University, giving a solid foundation in programming.
        li
          | Loving learning too much to stop, so participating in open courseware provided by colleges like MIT, Stanford, and Georgia Institute of Technology.
        li
          | Attended computer security conference - DefCon - learned to smash the stack in the morning. Joined a team that afternoon.
        li
          | Problem Solver. Challenge-Overcomer.  I solve problems and face challenges with resourcefulness, dedication, and thoughtfulness.
        li
          | A positive team player. As captain of a performance group went from placing in last in the first competition, to raising to a higher division and ultimately placing first place in the state.
      h2 Professional Experience
      ul
        li Tax Preparer, Liberty Tax Service, Tucson, AZ  1/2014-present
        li Android Developer, ThibTech, Tucson, AZ  7/2011-7/2013
        li PHP Developer, StudentDirection.com, Scottsdale, AZ  9/2009-1/2010
        li Laboratory Technician, X-Ray Optical Systems, East Greenbush, NY  3/2006-7/2006
      h2 Education
      ul
        li
          | Computer Science and Physics: 86 credit hours, Arizona State University - Will continue Fall 2014
